© rubyconfchina.org 2010 - <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Share Alike 2.0</a> | <a href="http://github.com/fguillen/euruko_app">Code from Fernando Guillen</a> |
Icons from <a href="http://famfamfam.com/">famfamfam</a> |
Design based on <a href="http://radiantcms.org">Radiant</a>'s <a href="http://spurrd.com">Roasters Theme</a>